<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href=
	"{{url_for('static', filename='home.css')}}" >
</head>
<body>
	<h1>store</h1>
	<a href="{{url_for('home')}}" >homepage</a>
	{%for prod in products%}
		<div class="card" >
		  <img src="{{prod.link}}" >
		  <h2>{{prod.name}}</h2>
		  <p class="price">{{prod.price}}</p>
		  <p>{{prod.description}}</p>
		  <a href="{{url_for('/cart/{{prod.id')}}"><button type="button">Add to Cart</button></a>
		</div> 
	{%endfor%}
</body>
</html>